<h1>Productos</h1>

<form action="" id="newProduct">
    <label for="">Nombre del Producto</label>
    <input type="text" name="title">
    <br>
    <label for="">Descripcion</label>
    <input type="text" name="description">
    <br>
    <label for="">Imagen</label>
    <input type="file" name="thumbnail" id="">
    <br>
    <label for="">Precio</label>
    <input type="number" name="price">
    <br>
    <label for="">Codigo</label>
    <input type="number" name="code">
    <br>
    <label for="">Stock</label>
    <input type="number" name="stock">
    <br>
    <label for="">Status</label>
    <input type="radio" name="status" id="">True
    <input type="radio" name="status" id="">False
    <br>
    <label for="">Categoria</label>
    <input type="text" name="category">
    <br>
    <button type="submit">Enviar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>